<div class="form-group bmd-form-group">
<label for="exampleInputEmail1" class="bmd-label-static">Email address</label>
<com-1password-op-button id="com-1password-op-button" data-op-target="0" data-state="locked" style="
    margin-left: 819px !important;
    margin-top: 8.5px !important;
    background-image: url(chrome-extension://aeblfdkhhhdcdjpifhhbdiojplfjncoa/images/icons/app_icon-light_bg-color-locked-16.svg) !important;
    "></com-1password-op-button><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" data-op-id="0">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>